<head>
  <title>Weather Info</title>
</head>
<body>
  <h1>Weather for <%= city %></h1>
  <p>Temprature: <%= temp %></p>
  <p>Description: <%= description %></p>
  <a href="/">Back to Home!</a>
</body>
